@{
    ViewBag.Title = "Error";
}
<main aria-labelledby="title">
    <h2 id="title">Email Not Confirmed.</h2>
    <div>
        <p>
            Please confirm your email.
        </p>
    </div>
</main>
